* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

header {
    height: 10vh;
    width: auto;
    background-color:rosybrown;
    text-align: center;
    font-size: 3em;
    padding-top: 2vh;

}

nav {
    height: 12vh;
    width: 100%;
    background-color: lightgrey;
    
    margin-top: 20px;
    font: 1.5em;
}


nav li {
    text-decoration: underline;
    float: left;
    list-style-type:  none;
    padding-right: 2vh;
    font-size: 1.5em;
}

ul {
    position: relative;
    top: 35%;
    left: 40%;
}

.feature {
    height: 12vh;
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

.feature p {
    padding-top: 30px;
}

.column {
        height: 9vh;
        width: 32.4%;
        background-color: lightgrey;
        text-align: center;
        vertical-align: middle ;
        margin-top: 20px;
        float: left;
        margin-bottom: 20px;
        font-size: 1.5em;
       }

.one,.two {
    margin-right: 20px;
}       

.column p {
    margin-top: 20px;
}

footer {
    height: 10vh;
    width: auto;
    background-color:rosybrown;
    text-align: center;
    font-size: 1.5em;
    padding-top: 2vh;
    clear: both;
    font: 1.5em;
}

footer p {
    margin-top: 2vh;
}



